<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <title>Snack Délice</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<%- include('includes/Headerfr'); -%>

    
<section id="our_menu" class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page_title text-center mb-4">
            <h1>our menu</h1>
            <div class="single_line"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <ul class="nav nav-tabs menu_tab mb-4" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="breakfast-tab" data-toggle="tab" href="#breakfast" role="tab">Breakfast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="lunch-tab" data-toggle="tab" href="#lunch" role="tab">Lunch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="dinner-tab" data-toggle="tab" href="#dinner" role="tab">Dinner</a>
          </li>
        </ul>
          </div>
      <div class="row">
        <div class="tab-content col-lg-12" id="myTabContent">
          <div class="tab-pane fade show active" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
            <div class="row">
              <div class="col-md-6">
                <div class="single_menu">
                  <img src="img/about-img.jpg" alt="burger">
                  <div class="menu_content">
                    <h4>Chicken Burger  <span>$24</span></h4>
                    <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    <a href="#"><button class="btn btn-danger">buy</button></a>
                  </div>
                </div>
                <div class="single_menu">
                  <img src="img/about-img.jpg" alt="black coffee">
                  <div class="menu_content">
                    <h4>Black coffee <span>$20</span></h4>
                    <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    <a href="#"><button class="btn btn-danger">buy</button></a>
                  </div>
                </div>
                <div class="single_menu">
                  <img src="img/about-img.jpg" alt="fried rice">
                  <div class="menu_content">
                    <h4>Fried Rice  <span>$45</span></h4>
                    <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    <a href="#"><button class="btn btn-danger">buy</button></a>
                  </div>
                </div>
                <div class="single_menu">
                  <img src="img/about-img.jpg" alt="meat">
                  <div class="menu_content">
                    <h4>meat  <span>$24</span></h4>
                    <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    <a href="#"><button class="btn btn-danger">buy</button></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="single_menu">
                  <img src="img/about-img.jpg" alt="burger">
                  <div class="menu_content">
                    <h4>Chicken Burger  <span>$24</span></h4>
                    <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    <a href="#"><button class="btn btn-danger">buy</button></a>
                  </div>
                </div>
                <div class="single_menu">
                  <img src="img/about-img.jpg" alt="black coffee">
                  <div class="menu_content">
                    <h4>Black coffee <span>$20</span></h4>
                    <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    <a href="#"><button class="btn btn-danger">buy</button></a>
                  </div>
                </div>
                <div class="single_menu">
                  <img src="img/about-img.jpg" alt="fried rice">
                  <div class="menu_content">
                    <h4>Fried Rice  <span>$45</span></h4>
                    <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    <a href="#"><button class="btn btn-danger">buy</button></a>
                  </div>
                </div>
                <div class="single_menu">
                  <img src="img/about-img.jpg" alt="meat">
                  <div class="menu_content">
                    <h4>meat  <span>$24</span></h4>
                    <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    <a href="#"><button class="btn btn-danger">buy</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="lunch" role="tabpanel" aria-labelledby="lunch-tab">
            <div class="row">
              <div class="col-md-6">
                <div class="single_menu">
                  <img src="img/about-img.jpg" alt="pizza">
                  <div class="menu_content">
                    <h4>12" Pizza  <span>$35</span></h4>
                    <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    <a href="#"><button class="btn btn-danger">buy</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="dinner" role="tabpanel" aria-labelledby="dinner-tab">
            <div class="row">
              <div class="col-md-6">
                <div class="single_menu">
                  <img src="img/about-img.jpg" alt="burger">
                  <div class="menu_content">
                    <h4>Chicken Burger  <span>$24</span></h4>
                    <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    <a href="#"><button class="btn btn-danger">buy</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<<<<<<< HEAD
=======


    <section class="review-area section-gap">
        <div class="container">
            <h1 class="mb-10 text-center">The Owner's</h1>
            <div class="row">
                <div class="active-review-carusel">
                    <div class="single-review">
                        <img src="img/user.png" alt="">
                        <h4>Hulda Sutton</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>
                            “Accessories Here you can find the best computer accessory for your laptop, monitor,
                            printer, scanner, speaker. Here you can find the best computer accessory for your laptop,
                            monitor, printer, scanner, speaker.”
                        </p>
                    </div>
                    <div class="single-review">
                        <img src="img/user.png" alt="">
                        <h4>Hulda Sutton</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>
                            “Accessories Here you can find the best computer accessory for your laptop, monitor,
                            printer, scanner, speaker. Here you can find the best computer accessory for your laptop,
                            monitor, printer, scanner, speaker.”
                        </p>
                    </div>
                    <div class="single-review">
                        <img src="img/user.png" alt="">
                        <h4>Hulda Sutton</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>
                            “Accessories Here you can find the best computer accessory for your laptop, monitor,
                            printer, scanner, speaker. Here you can find the best computer accessory for your laptop,
                            monitor, printer, scanner, speaker.”
                        </p>
                    </div>
                    <div class="single-review">
                        <img src="img/user.png" alt="">
                        <h4>Hulda Sutton</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>
                            “Accessories Here you can find the best computer accessory for your laptop, monitor,
                            printer, scanner, speaker. Here you can find the best computer accessory for your laptop,
                            monitor, printer, scanner, speaker.”
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

>>>>>>> f01b8b51c254e53042d1833a903c09ecb4366fef
<div class="blink" style="margin-top: 10%;"></div>

    <footer class="footer-area">
        <div class="footer-widget-wrap">
            <div class="container">
                <div class="row section-gap">
                    <div class="col-lg-4  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Opening Hours</h4>
                            <ul class="hr-list">
                                <li class="d-flex justify-content-between">
                                    <span>Monday - Friday</span> <span>08.00 am - 10.00 pm</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>Saturday</span> <span>08.00 am - 10.00 pm</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>Sunday</span> <span>08.00 am - 10.00 pm</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Contact Us</h4>
                            <p>
                                31,hay Salam Agadir
                            </p>
                            <p class="number">
                                0621114160 <br> dir num dialk
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Newsletter</h4>
                            <p>You can trust us. we only send promo offers, not a single spam.</p>
                            <div class="d-flex flex-row" id="mc_embed_signup">
                                <form class="navbar-form"
                                    action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                    method="get">
                                    <div class="input-group add-on align-items-center d-flex">
                                        <input class="form-control" name="EMAIL" placeholder="Your Email address"
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Your Email address'" required="" type="email">
                                        <div style="position: absolute; left: -5000px;">
                                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                                type="text">
                                        </div>
                                        <div class="input-group-btn">
                                            <button class="genric-btn"><span
                                                    class="lnr lnr-arrow-right"></span></button>
                                        </div>
                                    </div>
                                    <div class="info mt-20"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>