    <header id="header">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center">
                    <div id="logo">
                        <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container main-menu">
            <div class="row align-items-center justify-content-center d-flex">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="#our_menu">Menu</a></li>
                        <li><a href="about.html">Sandichs</a></li>
                        <li><a href="menu.html">Salades</a></li>
                        <li><a href="menu.html">Dessert</a></li>
                        <li><a href="menu.html">Boissons</a></li>
                        <li><a href="menu.html">Frites</a></li>
                        <li><a href="menu.html">McCafe</a></li>
                        <li><a href="menu.html">Support</a></li>
                            </ul>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
      <section class="banner-area">
      <div class="container">
          <div class="row fullscreen align-items-center justify-content-between">
              <div class="col-lg-12 banner-content">
                  <h1 class="text-white">Plas du jour</h1>
                  <p class="text-white">
                      inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct
                      standards especially in the workplace. That’s why it’s crucial that, as women.
                  </p>
                  <a href="#" class="primary-btn text-uppercase">Plus d'infos</a>
              </div>
          </div>
      </div>
  </section>